- email = Email.find(@workitem.fields['object_id'])
- unless email.nda
  - email.nda = Nda.new

%p
  Upload your completed NDA:
  
- form_for email, :html => { :multipart => true } do |form|
  = form.hidden_field 'fei_id', :value => @workitem.fei.to_storage_id
  - form.fields_for :nda do |builder|
    %p
      = builder.file_field :attachment
  %p
    = form.submit