- title "Edit Account Application Form"

= render :partial => 'form'

%p
  = link_to "Show", account_application_form_path(@account_application_form)
  |
  = link_to "View All", account_application_forms_path
